@charset "utf-8";
/* CSS Document */
*{
	border:0px;
	padding:0px;
	margin:0px;
}
body{
	font-family:arial,newrome;
	font-size:12px;
	line-height:24px;
	color:#000000;
}
.Sidebar{
	width:20%;
	height:100px;
	position:fixed;
	margin:10px;
	font-size:14px;
}
li ol{
	padding-left:5%;
	font-size:10px;
}
.imgHead{
	height:180px;
}
.Sidebar ol{
	list-style-type:none;
	list-style-position:inside;
	line-height:20px;
}
.mainWindow{
	float:right;
	width:78%;
	line-height:16px;
}
h2{
	margin-top:30px;
	margin-bottom:10px;
}
h3{
	margin-top:15px;
	margin-bottom:5px;
}
h4{
	text-align:right;
	margin-right:10%;
	margin-top:10px;
}
span{
	line-height:20px;
}
span a{
	font-weight:800;
}
.homehead{
	padding-left:10px;
}
.cryptoimg{
	padding-right:10px;
}
button a{
	color:#0000FF;
	background-color:#CCCCCC;
}
p{
	background-color:#999999;
	height:2px;
}
a:link{
	color:blue;
	text-decoration:none;
}
a:visited{
	color:blue;
	text-decoration:none;
}
a:hover{
	color:#6600CC;
	text-decoration:none;
}
a:active{
	color:#6600CC;
	text-decoration:none;
}
.mail{
	text-decoration:underline;
	color:#0000FF;
}